<section class="container">
	<div class="col-md-8 col-md-offset-2">
	<h1 class='category'>AP Chemistry - Fall Syllabus</h1>
    <div class="btn-group sem-toggle control">
        <button type="button" class="btn btn-default">Fall</button>
        <button type="button" class="btn btn-default">Spring</button>
    </div>
    <div class="btn-group sub-filter control">
        <button type="button" class="btn btn-default">AP Chemistry</button>
        <button type="button" class="btn btn-default">Honors Chemistry</button>
        <button type="button" class="btn btn-default">Regular Chemistry</button>
    </div>

    <div class="AP Fall article">
    	<table class="table table-striped table-hover">
    		<caption>The Syllabus will only be released one week in advance. Links will not lead anywhere any time before then.</caption>
            <thead>
    			<tr>
    				<th>Week</th>
    				<th>Chapter</th>
    				<th>Topics</th>
    				<th>Lab</th>
                    <th>Agenda</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td>8/11</td>
    				<td>4</td>
    				<td>Qualitative Analysis</td>
    				<td>Flame Tests</td>
                    <td>PDF</td>
    			</tr>
    			<tr>
    				<td>8/18</td>
    				<td>4</td>
    				<td>Reactions</td>
    				<td>Precipitation</td>
                    <td>PDF</td>
    			</tr>
    			<tr>
    				<td>8/25</td>
    				<td>4</td>
    				<td>Redox Reactions</td>
    				<td>Electrochemical Series*</td>
                    <td>PDF</td>
    			</tr>
    			<tr>
    				<td>9/1</td>
    				<td>4</td>
    				<td>More Reactions</td>
    				<td>Unknown Precipitates/QA*</td>
                    <td>PDF</td>
    			</tr>
    			<tr>
    				<td>9/8</td>
    				<td>3</td>
    				<td>Stoichiometry</td>
    				<td>Hydrates*</td>
                    <td>PDF</td>
    			</tr>
    			<tr>
    				<td>9/15</td>
    				<td>3</td>
    				<td>Stoichiometry</td>
    				<td>Stoichiometry*</td>
                    <td>PDF</td>
    			</tr>
    			<tr>
    				<td>9/22</td>
    				<td>5</td>
    				<td>Gas Laws</td>
    				<td>Molar Mass of a Gas*</td>
                    <td>PDF</td>
    			</tr>
    			<tr>
    				<td>9/29</td>
    				<td>5</td>
    				<td>More Gases</td>
    				<td>Molar Volume of a Gas*</td>
                    <td>PDF</td>
    			</tr>
    			<tr>
    				<td>10/6</td>
    				<td>6</td>
    				<td>Thermochemistry</td>
    				<td>Chemical Formulas</td>
                    <td>PDF</td>
    			</tr>
    			<tr>
    				<td>10/13</td>
    				<td>6</td>
    				<td>Thermochemistry</td>
    				<td>Calorimetry*</td>
                    <td>PDF</td>
    			</tr>
    			<tr>
    				<td>10/20</td>
    				<td>7</td>
    				<td>Atomic Structure</td>
    				<td>Spectroscopy*</td>
                    <td>PDF</td>
    			</tr>
    			<tr>
    				<td>10/27</td>
    				<td>7</td>
    				<td>Periodicity</td>
    				<td>Paper Chromotography*</td>
                    <td>PDF</td>
    			</tr>
    			<tr>
    				<td>11/3</td>
    				<td>8</td>
    				<td>Bonding</td>
    				<td>Model Building</td>
                    <td>PDF</td>
    			</tr>
    			<tr>
    				<td>11/10</td>
    				<td>9</td>
    				<td>VESPR</td>
    				<td>None</td>
                    <td>PDF</td>
    			</tr>
    			<tr>
    				<td>11/17</td>
    				<td>9</td>
    				<td>Molecular Orbitals</td>
    				<td></td>
                    <td>PDF</td>
    			</tr>
    			<tr>
    				<td>12/1</td>
    				<td>10</td>
    				<td>Liquids and Solids</td>
    				<td>Hydrogen Bonding</td>
                    <td>PDF</td>
    			</tr>
    			<tr>
    				<td>12/8</td>
    				<td>10</td>
    				<td>Liquids and Solids</td>
    				<td></td>
                    <td>PDF</td>
    			</tr>
    			<tr>
    				<td>12/15</td>
    				<td>1-11</td>
    				<td>Finals</td>
    				<td></td>
                    <td>PDF</td>
    			</tr>
    		</tbody>
    	</table>
    	<p>Labs marked with an ** will be after school labs.</p>
    	<p>A weekly syllabus will be posted every Friday or Monday that outlines that week's homework and lab schedule. Chapters listed are from Zumdahl.</p>
    </div>
    <div class="AP Spring article hidden">
    	<table class="table table-striped table-hover">
            <caption>The Syllabus will only be released one week in advance. Links will not lead anywhere any time before then.</caption>
    		<thead>
    			<tr>
    				<th>Week</th>
    				<th>Chapter</th>
    				<th>Topics</th>
    				<th>Labs</th>
                    <th>Agenda</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td>1/12</td>
    				<td>11</td>
    				<td>Colligative Properties</td>
    				<td>Freezing Point Depression</td>
                    <td><%= link_to 'PDF', "/AP_syllabus/weekS1" %></td>
    			</tr>
    			<tr>
    				<td>1/19</td>
    				<td>12</td>
    				<td>Kinetics</td>
    				<td>Crystal Violet</td>
                    <td><%= link_to 'PDF', "/AP_syllabus/weekS2" %></td>
    			</tr>
    			<tr>
    				<td>1/26</td>
    				<td>12</td>
    				<td>Kinetics</td>
    				<td>Iodine Clock</td>
                    <td><%= link_to 'PDF', "/AP_syllabus/weekS3" %></td>
    			</tr>
    			<tr>
    				<td>2/2</td>
    				<td>13</td>
    				<td>Equilibrium</td>
    				<td>Equilbrium Constant</td>
                    <td><%= link_to 'PDF', "/AP_syllabus/weekS4" %></td>
    			</tr>
    			<tr>
    				<td>2/9</td>
    				<td>13</td>
    				<td>Equilibrium</td>
    				<td>None</td>
                    <td><%= link_to 'PDF', "/AP_syllabus/weekS5" %></td>
    			</tr>
    			<tr>
    				<td>2/16</td>
    				<td>14</td>
    				<td>Acids and Bases</td>
    				<td>Strong vs. Weak Acids</td>
                    <td><%= link_to 'PDF', "/AP_syllabus/weekS6" %></td>
    			</tr>
    			<tr>
    				<td>2/23</td>
    				<td>15</td>
    				<td>Buffers</td>
    				<td>Buffers</td>
                    <td><%= link_to 'PDF', "/AP_syllabus/weekS7" %></td>
    			</tr>
    			<tr>
    				<td>3/2</td>
    				<td>15</td>
    				<td>Salt Solutions</td>
    				<td>Salt Solutions</td>
                    <td><%= link_to 'PDF', "/AP_syllabus/weekS8" %></td>
    			</tr>
    			<tr>
    				<td>3/9</td>
    				<td>15</td>
    				<td>Titration</td>
    				<td>Titration*</td>
                    <td><%= link_to 'PDF', "/AP_syllabus/weekS9" %></td>
    			</tr>
    			<tr>
    				<td>3/16</td>
    				<td>15</td>
    				<td>Solubility</td>
    				<td>Solubility Product</td>
                    <td><%= link_to 'PDF', "/AP_syllabus/weekS10" %></td>
    			</tr>
    			<tr>
    				<td>3/23</td>
    				<td>16</td>
    				<td>Thermodynamics</td>
    				<td>None</td>
                    <td><%= link_to 'PDF', "/AP_syllabus/weekS11" %></td>
    			</tr>
    			<tr>
    				<td>4/6</td>
    				<td>16</td>
    				<td>Thermodynamics</td>
    				<td>None</td>
                    <td><%= link_to 'PDF', "/AP_syllabus/weekS12" %></td>
    			</tr>
    			<tr>
    				<td>4/13</td>
    				<td>17</td>
    				<td>Oxidation and Reduction</td>
    				<td>Electrochemical Cells</td>
                    <td><%= link_to 'PDF', "/AP_syllabus/weekS13" %></td>
    			</tr>
    			<tr>
    				<td>4/20</td>
    				<td>17</td>
    				<td>Cells/Electrolysis</td>
    				<td>Redox Titration*</td>
                    <td><%= link_to 'PDF', "/AP_syllabus/weekS14" %></td>
    			</tr>
    			<tr>
    				<td>4/27</td>
    				<td>All</td>
    				<td>Review</td>
    				<td></td>
                    <td><%= link_to 'PDF', "/AP_syllabus/weekS15" %></td>
    			</tr>
    			<tr>
    				<td>5/4</td>
    				<td></td>
    				<td>Ap Exam May 4th</td>
    				<td></td>
                    <td><%= link_to 'PDF', "/AP_syllabus/weekS16" %></td>
    			</tr>
    		</tbody>
    	</table>
    	<p>Labs marked with an * will be after school labs.</p>
    	<p>Organic Chemistry will be worked in during some lunch and after school lecture</p>
    </div>
    <div class="Honors Fall article hidden">
    	<table class="table table-striped table-hover">
    		<thead>
    			<tr>
    				<th>Week</th>
    				<th>Unit</th>
    				<th>Topics</th>
    				<th>Labs</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td>8/11</td>
    				<td>1</td>
    				<td>Observation Skills</td>
    				<td>Density of Water</td>
    			</tr>
    			<tr>
    				<td>8/18</td>
    				<td>1</td>
    				<td>Metrics/Density</td>
    				<td>Density</td>
    			</tr>
    			<tr>
    				<td>8/25*</td>
    				<td>1</td>
    				<td>Math</td>
    				<td>Aluminium Foil</td>
    			</tr>
    			<tr>
    				<td>9/1</td>
    				<td>2</td>
    				<td>Properties/Change</td>
    				<td>Four Liquids/Chromatography</td>
    			</tr>
    			<tr>
    				<td>9/8</td>
    				<td>2*</td>
    				<td>Formulas/Nomenclature</td>
    				<td>Chemical Change</td>
    			</tr>
    			<tr>
    				<td>9/15*</td>
    				<td>3</td>
    				<td>Equation Writing</td>
    				<td>Activity Series</td>
    			</tr>
    			<tr>
    				<td>9/22</td>
    				<td>3*</td>
    				<td>Precipitation Reactions</td>
    				<td>Precipitation</td>
    			</tr>
    			<tr>
    				<td>9/29</td>
    				<td>4</td>
    				<td>Moles</td>
    				<td>Counting Atoms</td>
    			</tr>
    			<tr>
    				<td>10/6</td>
    				<td>4</td>
    				<td>Formula Problems</td>
    				<td>Iron and Copper</td>
    			</tr>
    			<tr>
    				<td>10/13*</td>
    				<td>4</td>
    				<td>Stoichiometry</td>
    				<td>Stoichiometry</td>
    			</tr>
    			<tr>
    				<td>10/20</td>
    				<td>4</td>
    				<td>Stoichiometry</td>
    				<td>Excess Reactants/Hydrates</td>
    			</tr>
    			<tr>
    				<td>10/27*</td>
    				<td>5</td>
    				<td>Atomic Structure</td>
    				<td>Abundance of Isotopes</td>
    			</tr>
    			<tr>
    				<td>11/3*</td>
    				<td>5</td>
    				<td>Atomic Structure</td>
    				<td>TBA</td>
    			</tr>
    			<tr>
    				<td>11/10</td>
    				<td>5</td>
    				<td>Light</td>
    				<td>Hydrogen Spectrum</td>
    			</tr>
    			<tr>
    				<td>11/17*</td>
    				<td>6</td>
    				<td>Periodic Table</td>
    				<td>Elements Lab/Periodic Videos</td>
    			</tr>
    			<tr>
    				<td>12/1</td>
    				<td>7</td>
    				<td>Bonding</td>
    				<td>Hydrogen Bonding</td>
    			</tr>
    			<tr>
    				<td>12/8</td>
    				<td>7</td>
    				<td>Lewis Structures</td>
    				<td>Model Building</td>
    			</tr>
    			<tr>
    				<td>12/15</td>
    				<td>1-7</td>
    				<td>Finals</td>
    				<td></td>
    			</tr>
    		</tbody>
    	</table>
    	<p> * Indicates where a unit test will be placed</p>
    	<p>Note that dates are not exact. Vacation days will offset the schedule by about 1/2 a week</p>
    </div>
    <div class="Spring Honors article hidden">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Week</th>
					<th>Unit</th>
					<th>Topics</th>
					<th>Labs</th>
				</tr>
			</thead>
			<tbody>
				<tr>
    				<td>1/12</td>
    				<td>8</td>
    				<td>Gas Properties</td>
    				<td>Boyle's Law</td>
    			</tr>
    			<tr>
    				<td>1/19</td>
    				<td>8</td>
    				<td>Gas Laws</td>
    				<td>Absolute Zero</td>
    			</tr>
    			<tr>
    				<td>1/26*</td>
    				<td>8</td>
    				<td>Gas Stoichiometry</td>
    				<td>Chemical Properties</td>
    			</tr>
    			<tr>
    				<td>2/2</td>
    				<td>9</td>
    				<td>Rates of Reaction</td>
    				<td>Temperature and Rate/Reaction Rate</td>
    			</tr>
    			<tr>
    				<td>2/9*</td>
    				<td>9</td>
    				<td>Kinetics</td>
    				<td>Iodine Clock</td>
    			</tr>
    			<tr>
    				<td>2/16</td>
    				<td>10</td>
    				<td>Chemical Equilibrium</td>
    				<td>Le Chatelier's Princriple</td>
    			</tr>
    			<tr>
    				<td>2/23*</td>
    				<td>10</td>
    				<td>Mathematical Equilibrium</td>
    				<td>TBA</td>
    			</tr>
    			<tr>
    				<td>3/2</td>
    				<td>11</td>
    				<td>Acid/Base Properties</td>
    				<td>pH Lab</td>
    			</tr>
    			<tr>
    				<td>3/9</td>
    				<td>11</td>
    				<td>pH, Weak Acids, Salts</td>
    				<td>Ka Lab/Microtitration</td>
    			</tr>
    			<tr>
    				<td>3/16*</td>
    				<td>11</td>
    				<td>Titration</td>
    				<td>Titration Lab</td>
    			</tr>
    			<tr>
    				<td>3/23</td>
    				<td>12</td>
    				<td>Heat/Phase Changes</td>
    				<td>Heating Curve</td>
    			</tr>
    			<tr>
    				<td>4/6</td>
    				<td>12</td>
    				<td>Hess's Law</td>
    				<td>Heat of Fusion</td>
    			</tr>
    			<tr>
    				<td>4/13*</td>
    				<td>12</td>
    				<td>Thermodynamics</td>
    				<td>Hess's Law</td>
    			</tr>
    			<tr>
    				<td>4/20</td>
    				<td>13</td>
    				<td>Redox Reactions</td>
    				<td>Redox Agens</td>
    			</tr>
    			<tr>
    				<td>4/27*</td>
    				<td>13</td>
    				<td>Electrochemical Cells</td>
    				<td>Cell Lab</td>
    			</tr>
    			<tr>
    				<td>5/4*</td>
    				<td>14</td>
    				<td>Functional Groups, Names</td>
    				<td>Organic Compounds/Isomers</td>
    			</tr>
    			<tr>
    				<td>5/11</td>
    				<td>14</td>
    				<td>Organic</td>
    				<td>Esterification Reactions</td>
    			</tr>
    			<tr>
    				<td>5/18*</td>
    				<td>15</td>
    				<td>Nuclear Chemistry</td>
    				<td>Half Life of a Penny</td>
    			</tr>
    			<tr>
    				<td>5/25</td>
    				<td>15</td>
    				<td>Nuclear Chemistry</td>
    				<td>Radiation Lab</td>
    			</tr>
    			<tr>
    				<td>6/1</td>
    				<td>All</td>
    				<td>Finals</td>
    				<td></td>
    			</tr>
			</tbody>
		</table>
		<p> * Indicates where a unit test will be placed</p>
    	<p>Note that dates are not exact. Vacation days will offset the schedule by about 1/2 a week</p>
    </div>
        <div class="Regular Fall article hidden">
    	<table class="table table-striped table-hover">
    		<thead>
    			<tr>
    				<th>Week</th>
    				<th>Unit</th>
    				<th>Topics</th>
    				<th>Labs</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td>8/11</td>
    				<td>1</td>
    				<td>Observation</td>
    				<td>Density of Water</td>
    			</tr>
    			<tr>
    				<td>8/18</td>
    				<td>5</td>
    				<td>Metrics/Density</td>
    				<td>Density Lab</td>
    			</tr>
    			<tr>
    				<td>8/25*</td>
    				<td>5</td>
    				<td>Math/Graphing</td>
    				<td>Aluminium Foil</td>
    			</tr>
    			<tr>
    				<td>9/1</td>
    				<td>2</td>
    				<td>Properties/Change/Phases</td>
    				<td>Four Liquids</td>
    			</tr>
    			<tr>
    				<td>9/8</td>
    				<td>2</td>
    				<td>Formulas/Nomenclature</td>
    				<td>Chemical/Physical Change</td>
    			</tr>
    			<tr>
    				<td>9/15*</td>
    				<td>4</td>
    				<td>Formulas/Nomenclature</td>
    				<td>Paper Chromotagraphy</td>
    			</tr>
    			<tr>
    				<td>9/22</td>
    				<td>7</td>
    				<td>Reactions and Equation Writing</td>
    				<td>Model Building</td>
    			</tr>
    			<tr>
    				<td>9/29*</td>
    				<td>7</td>
    				<td>Reaction Prediction</td>
    				<td>Activity Series</td>
    			</tr>
    			<tr>
    				<td>10/6</td>
    				<td>3 + 11</td>
    				<td>Atomic Structure</td>
    				<td>Abundance of Isotopes</td>
    			</tr>
    			<tr>
    				<td>10/13</td>
    				<td>11*</td>
    				<td>Light</td>
    				<td>Spectrum Lab</td>
    			</tr>
    			<tr>
    				<td>10/20</td>
    				<td>11</td>
    				<td>Electron Configuration</td>
    				<td>TBD</td>
    			</tr>
    			<tr>
    				<td>10/27*</td>
    				<td>3</td>
    				<td>Periodic Table</td>
    				<td>Properties of Elements</td>
    			</tr>
    			<tr>
    				<td>11/3*</td>
    				<td>3</td>
    				<td>Periodic Table</td>
    				<td>Periodic Table Videos</td>
    			</tr>
    			<tr>
    				<td>11/10</td>
    				<td>12</td>
    				<td>Bonding</td>
    				<td>Hyrdogen Bonding</td>
    			</tr>
    			<tr>
    				<td>11/17*</td>
    				<td>12</td>
    				<td>Lewis Structures and VESPR</td>
    				<td>Model Building</td>
    			</tr>
    			<tr>
    				<td>12/1</td>
    				<td>6</td>
    				<td>Moles</td>
    				<td>Counting Atoms</td>
    			</tr>
    			<tr>
    				<td>12/8*</td>
    				<td>6</td>
    				<td>Moles</td>
    				<td>Hyrdates</td>
    			</tr>
    			<tr>
    				<td>12/15</td>
    				<td>All</td>
    				<td>Finals</td>
    				<td></td>
    			</tr>
    		</tbody>
    	</table>
    	<p> * Indicates where a unit test will be placed</p>
    	<p>Note that dates are not exact. Vacation days will offset the schedule by about 1/2 a week</p>
    </div>
    <div class="Regular Spring article hidden">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Week</th>
					<th>Unit</th>
					<th>Topics</th>
					<th>Labs</th>
				</tr>
			</thead>
			<tbody>
				<tr>
    				<td>1/12</td>
    				<td>9</td>
    				<td>Stoichiometry</td>
    				<td>Mole Ratio Lab</td>
    			</tr>
    			<tr>
    				<td>1/19</td>
    				<td>9</td>
    				<td>Stoichiometry</td>
    				<td>Stoichiometry</td>
    			</tr>
    			<tr>
    				<td>1/26</td>
    				<td>9</td>
    				<td>Stoichiometry</td>
    				<td>Excess Reactant</td>
    			</tr>
    			<tr>
    				<td>2/2</td>
    				<td>17</td>
    				<td>Rates of Reaction</td>
    				<td>Reaction Rates</td>
    			</tr>
    			<tr>
    				<td>2/9</td>
    				<td>17</td>
    				<td>Kinetics</td>
    				<td>Iodine Clock</td>
    			</tr>
    			<tr>
    				<td>2/16</td>
    				<td>13</td>
    				<td>Gases</td>
    				<td>Boyle's Law</td>
    			</tr>
    			<tr>
    				<td>2/23</td>
    				<td>13</td>
    				<td>Gases</td>
    				<td>Chemical Properties Gases</td>
    			</tr>
    			<tr>
    				<td>3/2</td>
    				<td>17</td>
    				<td>Chemical Equilibrium</td>
    				<td>LeChatelier's Principle</td>
    			</tr>
    			<tr>
    				<td>3/9</td>
    				<td>17</td>
    				<td>Mathematical Equilibrium</td>
    				<td>None</td>
    			</tr>
    			<tr>
    				<td>3/16</td>
    				<td>16</td>
    				<td>Acid/Base Properties</td>
    				<td>pH Lab</td>
    			</tr>
    			<tr>
    				<td>3/23</td>
    				<td>16</td>
    				<td>pH</td>
    				<td>Microtitration</td>
    			</tr>
    			<tr>
    				<td>4/6</td>
    				<td>10</td>
    				<td>Thermochemistry</td>
    				<td>Heating Curve</td>
    			</tr>
    			<tr>
    				<td>4/13</td>
    				<td>10</td>
    				<td>Thermodynamics</td>
    				<td>Heat of Fusion</td>
    			</tr>
    			<tr>
    				<td>4/20</td>
    				<td></td>
    				<td>Redox Reactions</td>
    				<td>Redox Agents</td>
    			</tr>
    			<tr>
    				<td>4/27</td>
    				<td></td>
    				<td>Electrochemical Cells</td>
    				<td>Cell Lab</td>
    			</tr>
    			<tr>
    				<td>5/4</td>
    				<td>20</td>
    				<td>Functional Groups, Names</td>
    				<td>Organic Compounds</td>
    			</tr>
    			<tr>
    				<td>5/11</td>
    				<td>20</td>
    				<td>Organic Reactions</td>
    				<td>Organic Isomers</td>
    			</tr>
    			<tr>
    				<td>5/18*</td>
    				<td>19</td>
    				<td>Nuclear Chemistry</td>
    				<td>Half Life of a Penny</td>
    			</tr>
    			<tr>
    				<td>5/25</td>
    				<td>19</td>
    				<td>Nuclear Chemistry</td>
    				<td>Radiation Lab</td>
    			</tr>
    			<tr>
    				<td>6/1</td>
    				<td>All</td>
    				<td>Finals</td>
    				<td></td>
    			</tr>
			</tbody>
		</table>
    </div>
<script>
	$(document).ready(function(){
			var semester = "Fall";
			var subject = "AP";
			var title = "AP Chemistry - Fall Syllabus"
	        $(".control").on('click', "button",function(){
	            var category = $(this).text();
	            switch(category) {
	            	case 'AP Chemistry':
	            		subject = "AP";
	            		break
            		case 'Honors Chemistry':
            			subject = "Honors";
            			break
        			case 'Regular Chemistry':
        				subject = "Regular";
        				break
    				case 'Fall':
    					semester = 'Fall';
    					break
					case 'Spring':
						semester = 'Spring';
						break
	            }
	            $(".article").addClass("hidden");
	            $("." + semester + "." + subject).removeClass("hidden");
	            $(".category").text(subject + " Chemistry - " + semester + " Syllabus");
	        });
	    });
</script>
<!-- jQuery -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Bootstrap JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>